table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

table td,
table th {
  border: 1px solid #a8dadc; /* Light blue for the border */
  padding: 12px 15px;
}

table tr {
  cursor: pointer;
  background-color: white;
}

table th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #1d3557; /* Dark blue for headers */
  color: white;
  font-weight: 600;
  cursor: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: #1d3557;
  font-size: 1rem;
}

.pagination button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #e63946;
  color: #f1faee;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #457b9d;
}

.pagination button:disabled {
  background-color: #a8dadc;
  cursor: not-allowed;
}

.pagination span {
  color: #457b9d;
}

@media (max-width: 1000px) {
  table {
    font-size: 0.8rem;
  }

  table td,
  table th {
    padding: 8px 10px;
  }

  .pagination {
    gap: 0.5rem;
    font-size: 0.9rem;
  }

  .pagination button {
    padding: 0.25rem 0.5rem;
  }
}

@media (max-width: 700px) {
  table {
    font-size: 0.6rem;
  }
}
