.breadcrumbs {
  font-family: Arial, Helvetica, sans-serif;
  color: #457b9d; /* Blue color for the text */
  position: absolute; /* Fix position to the viewport */
  top: 0; /* Align it to the top */
  left: 0; /* Align it to the right */
  margin: 3rem;
}

.breadcrumbs a {
  color: #457b9d; /* Blue color for the links */
  text-decoration: none;
}

.breadcrumbs a:hover {
  color: #e63946; /* Red color for hover */
}

.breadcrumbs a::after {
  content: " - ";
  color: #1d3557; /* Dark blue color for the separator */
}

.breadcrumbs a:last-child::after {
  content: "";
}
